html, body, #app{
    height: 100%;
}

.bg-grey{
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.nav-link{
    font-weight: 600;
}

.slider{
    width: 100%;
    height: auto;
    aspect-ratio: 16/7.5;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}


.slick-list{
    width: 100%;
    height: auto;
    aspect-ratio: 16/7.5;
}

.slick-arrow{
    z-index: 9;
}

.slick-prev{
    left: 1rem;
}

.slick-next{
    right: 1rem;
}
.card-overlay{
    
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        
    }
    .wrapper{
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1.1;
        border-radius: 10px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        overflow: hidden;
        position: relative;
    }
    .caption{
        position: absolute;
        transform: translateY(100%);
        transition: transform 0.5s ease;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    strong{
        font-size: 1.5rem;
    }
    &:hover{
        .caption{
            transform: translateX(0);
        }
    }
}